<table mat-table [dataSource]="dataSource$" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <!-- firstNAme Column -->
  <ng-container matColumnDef="fullName">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      {{ user | fullName }}
    </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      {{ user.email }}
    </td>
  </ng-container>

  <!-- role Column -->
  <ng-container matColumnDef="role">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      {{ user.role }}
    </td>
  </ng-container>

  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef></th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      <button (click)="editStudentChanger(user.id)">Editar</button>
      <button (click)="deleteStudent(user.id)">Borrar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
