<div class="container">
    <img src="assets/Anime.jpg" alt="Logo de la Escuela de Anime" class="logo">
    <h1 class="title">Academia Tagen Uchuu</h1>
    <!--     <p class="description">La Academia Multidimensional de Anime es el hogar donde los personajes más icónicos del anime
        se reúnen para entrenar y perfeccionar sus habilidades. Con un equipo de instructores de clase mundial y
        programas de entrenamiento intensivos, nuestra academia ofrece a los estudiantes la oportunidad de alcanzar su
        máximo potencial y destacarse en el vasto universo del anime.</p> -->
    <p class="description">
        La Academia de Programación Japonesa es el lugar donde los jóvenes talentosos del país se reúnen para
        perfeccionar sus habilidades en el arte de la codificación. Con un enfoque en la excelencia técnica y la
        creatividad innovadora, nuestra academia ofrece a los estudiantes la oportunidad de dominar los lenguajes de
        programación más avanzados y convertirse en los ingenieros de software más destacados del futuro.</p>

    <div class="courses">
        <div class="course">
            <h3>Angular</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nisi libero atque ipsum sint amet,
                doloribus dolore aut ad rerum, mollitia perferendis fugiat fugit, eos iste quidem impedit accusamus sed.
            </p>
        </div>
        <div class="course">
            <h3>NodeJs</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae itaque consequuntur blanditiis nobis
                minima, a corrupti ut. Fugit nam assumenda, exercitationem dolore nulla consequuntur eius minima. Fuga
                molestiae non error.</p>
        </div>
        <div class="course">
            <h3>MongoDB</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error assumenda reiciendis numquam veritatis,
                ipsum tempora ad quas magnam ratione accusantium voluptatibus! Quidem aut sed rerum commodi dicta unde.
                Ducimus, nisi?</p>
        </div>
        <div class="course">
            <h3>Express</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sit, officiis fugit enim quaerat quas odio
                nihil minima! Repellat dolorem suscipit culpa recusandae quae vero id magni voluptatem temporibus iusto.
            </p>
        </div>
    </div>

    <p>¡Únete a nuestra escuela y vive la experiencia del anime como nunca antes!</p>
</div>